.repo {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  background-color: var(--surface-200);
  color: var(--text);
  border-radius: 5px;
}

.repo--header {
  display: flex;
  align-items: center;
}

.repo--repoIcon {
  color: var(--sub-text);
  margin-top: 4px;
  margin-right: 8px;
}

.repo--icon {
  color: var(--sub-text);
  margin-right: 4px;
}

.repo--name {
  font-size: 36px;
  font-weight: 600;
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 16px;
  color: var(--text-header);
}

.repo--visibility {
  padding: 2px 12px;
  border-radius: 16px;
  font-size: 14px;
  border: 1px solid var(--sub-text);
  color: var(--sub-text);
}

.repo--owner {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 8px 0px;
  color: var(--sub-text);
}

.repo--avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.repo--description {
  font-size: 24px;
  margin: 8px 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.repo--actions {
  display: flex;
  margin: 16px 0px;
}

.repo button {
  display: flex;
  margin-right: 16px;
  align-items: center;
  padding: 8px 16px;
  font-weight: 600;
  color: var(--sub-text);
  filter: drop-shadow(0px 0px 2px #000000);
  border-radius: 16px;
  background-color: var(--surface-100);
}

.repo button .repo--icon {
  margin-right: 8px;
}

.repo--counts {
  display: flex;
  font-size: 20px;
  color: var(--sub-text);
}

.repo--count {
  display: flex;
  align-items: center;
  margin-right: 24px;
}
