button {
  background: transparent;
  background-color: transparent;

  border: none;
}
button:focus {
  outline: none;
  border: none;
}
button:active {
  outline: none;
  border: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --surface-100: #121212;
  --surface-150: #1a1a1a;
  --surface-200: #282828;
  --surface-300: #3f3f3f;
  --surface-400: #575757;
  --surface-500: #717171;
  --surface-600: #8b8b8b;
  --text: white;
  --sub-text: #a7a7a7;
  --text-header: rgb(34, 148, 255);
}

.appContainer {
  background-color: var(--surface-300);
  overflow: hidden;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  height: calc(100% - 32px);
  padding: 8px;
}

.repoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.repoContainer button {
  filter: drop-shadow(0px 0px 4px #000000);
  margin: 0px -4px;
}

.repoContainer button:active {
  filter: drop-shadow(0px 0px 1px #000000);
}
